.add-form{
   background-color: darkcyan;
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    max-width: 574px;
    margin-top: 45px;
    justify-content: center;
        border-radius: 20px;
    padding: 35px;
    text-align: left;
    
}
.add-button .add-btn{
   margin-top: 25px;
    border: 0;
    outline: 0;
    width: 100%;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    color: darkkhaki;
    background-color: white;
}
.add-btn:hover{
    color: black;
    background-color: darkkhaki;
}

.update-form h1{
    text-align: center;
    margin-top: 20px;
    color: darkcyan;
        padding: 36px;
}