.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
}
a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
}
.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: var(--bs-secondary-color);
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}
 table {
          width: 100%;
      border-collapse: collapse;
    }
th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
      text-align: center;
    }
th{
    background-color: darkkhaki;
}
td:nth-child(7) {
  background-color: #D6EEEE;
}
td:nth-child(9) {
  background-color: #D6EEEE;
}